# --- Dependências (O MAIS IMPORTANTE) ---
# Ignora as pastas de bibliotecas na raiz e em qualquer subpasta
node_modules/
**/node_modules/

# --- Produção e Compilação ---
dist/
dist-ssr/
build/
.vite/
*.tsbuildinfo

# --- Segurança (Variáveis de Ambiente) ---
# Nunca envie suas senhas do banco de dados para o GitHub!
.env
.env.local
.env.*.local
barber-backend/.env

# --- Logs de Erro ---
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# --- Editores e Sistema Operacional ---
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
thumbs.db

# --- Arquivos Temporários ---
.cache/
.eslintcache

# Arquivos de Cache do PWA
dev-dist/